<ion-split-pane contentId="content">

  <ion-menu contentId="content">
    <ion-header>

      <ion-toolbar>
        <!-- <ion-title>Menu</ion-title> -->
        <ion-img src="assets/img/logoApp.png" style="width: 50%;height: 50%;"></ion-img>
        <ion-buttons slot="end">          
          <ion-item color="primary" *ngIf="currentUser">{{currentUser.name}}</ion-item>
          <ion-button color="danger" (click)="logout()">Logout</ion-button>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>

    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" router-direction="root" [class.active-item]="selectedPath === p.url">
            {{p.title}}</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
       
          <ion-item lines="none">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>
              Dark Theme
            </ion-label>
            <ion-toggle slot="end" [ngModel]="darkTheme" (ionChange)="changeDarkTheme()"></ion-toggle>
          </ion-item>
        
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>
